<!-- header for uniform theme -->
<header>
    <nav class="navigation-bar">
        <div class="title-combo">
            <div class="website-name">
                <h1>
                    CSV Reader
                </h1>
            </div>
        </div>
    </nav>
</header>